<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276013424093-sl24ucnh5s7kj847r2q7r9eko6h44nb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276013424093-sl24ucnh5s7kj847r2q7r9eko6h44nb9</string>
	<key>API_KEY</key>
	<string>AIzaSyBL8e0mHxyYTAj_JDmEW0fg2B7s-tD2kXo</string>
	<key>GCM_SENDER_ID</key>
	<string>276013424093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cloudprogramming.ticketSystemTest</string>
	<key>PROJECT_ID</key>
	<string>sqlserver-1ccd1</string>
	<key>STORAGE_BUCKET</key>
	<string>sqlserver-1ccd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276013424093:ios:b4f24129bf89cfb1f52a34</string>
	<key>DATABASE_URL</key>
	<string>https://sqlserver-1ccd1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>